<!-- video_sequence.html -->
<!--      cannot fix thymeleaf error, only available in ultimate edition-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dynamic Video Sequence</title>
</head>

<body>
<h1>GOP list for: </h1>
<!--<video width="640" height="480" controls>-->
<!--    <source th:src="@{/CoolVideo.mp4}" type="video/mp4">-->
<!--    Blep-->
<!--</video>-->
<div th:each="fileName : ${videoFileNames}">
    <video width="320" height="240" controls>
        <source th:src="@{/__${fileName}__}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
</body>
</html>

