<!-- video_sequence.html -->
<!--      cannot fix thymeleaf error, only available in ultimate edition-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Dynamic Video Sequence</title>
</head>
<body>
<h1>GOP list for: <span th:text="${videoFileName}"></span></h1>
<div style="display: flex;flex-wrap: wrap;">
    <div th:each="fileName : ${clipFileNames}">
        <video width="320" height="240" controls>
            <source th:src="@{'/' + ${videoFileName} + '/' + ${fileName}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
</body>
</html>

